.menu-item {
  width: 40%;
  position: relative;
  display: flex;

  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 10px;
  /* For Debugging */
  /* border: 1px solid black; */
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fe491e;
}

.menu-item p {
  margin: 5px 0;
  text-align: center;
}

.menu-item p:nth-of-type(2) {
  margin-bottom: 0.1rem;
}

.menu-item p:nth-of-type(3) {
  margin-top: 0;
  margin-bottom: 0.1rem;
  color: gray;
}

.menu-item button {
  margin-top: 10px;
  background-color: #fe491e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
}
