body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  /* Fix header to top */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.menu-heading a {
  text-decoration: none;
  color: inherit;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
}

.logo-image {
  max-height: 50px;
  margin-bottom: 1rem;
}

.menu-heading {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 1rem 0rem;
  font-weight: 600;
}

.menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-section {
  margin-bottom: 1rem;
}

.menu-title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
  /* Sticky Titles */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 98px; /* Adjust this value based on the height of your header */
  background-color: white;
  z-index: 5;
}

.category-button {
  background-color: #e65100;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

.category-button:hover {
  background-color: #f57c00;
}

@media (min-height: 700px) {
  .promotions-card {
    justify-content: space-between;
  }

  .promotions-content {
    justify-content: flex-start;
  }
}
