.promotions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.promotions-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  align-items: center;
}

.promotions-heading {
  font-size: 1rem;
  text-align: center;
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  /* border: 1px solid #000; */
}

.promotion-section {
  margin: 1rem 0;
  width: calc(100% - 2rem);
}

.promotion-title {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid #000; */
}

.promotion-list {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
  /* border: 1px solid #000; */
}

.promotions-description {
  font-size: 0.8rem;
  text-align: center;
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  /* border: 1px solid #000; */
}
